%{erl_opts, [debug_info]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.

{plugins, [
    {rebar3_gpb_plugin, "1.10.0"},
    rebar3_appup_plugin
]}.

{deps, [
            {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
            {jsx, "2.8.2"},
            {emysql, {git, "https://github.com/yuilop/Emysql.git", {branch, "master"}}},
            {socketio, {git, "https://github.com/sinnus/socket.io-cowboy.git", {branch, "master"}}},
            %%%{eredis, "1.0.8"},
            {poolboy, "1.5.1"},
            %{e2, {git, "https://github.com/gar1t/e2.git", {branch, "master"}}},
            %%{python_port, {git, "https://github.com/gar1t/python_port.git", {branch, "master"}}},
            {sync, "0.1.3"},
            {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
            %%{iconv, {git, "https://github.com/processone/iconv.git", {branch, "master"}}},

            {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}}
       ]
}.


{relx, [{release, { http_server, "0.1.2" },
         [http_server,
         cowboy,
         emysql,
         %%eredis,
         poolboy,
         mysql,
         %%redis,
         request_parser,
         table,
         workboy,
         %%python,
         go,
         cowlib,
         crypto,
         ranch,
         inets,
         ssl,
         public_key,
         asn1,
         socketio,
         jsx,
         mnesia,
         %e2,
         sync,
         lager,
         erlydtl,
         compiler,
         syntax_tools,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {include_erts, false},
        {extended_start_script, true}]
}.



